// @include "variables.scss";
@use "styles/variables.scss" as *;

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  /* stylelint-disable-next-line unit-case */
  font-size: 12PX;

  // color: var(--el-color-primary);
  color: $color-primary-1;
}
