$color-primary: rgb(9, 96, 189);

$menu-bg: #001529;
$menu-text-color: rgba(255, 255, 255, .85);
$menu-active-bg: $color-primary;
$menu-active-text-color: #fff;
$submenu-bg: #0c2135;
$submenu-text-color: rgba(255, 255, 255, .85);
$submenu-active-bg: $color-primary;
$submenu-active-text-color: #fff;
